/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Initialise colors and fonts */
:root{
  --primary-font: 'Poppins', sans-serif;
}

/* Define default font and margin */
* {
  margin: 0;
  font-family: var(--primary-font);
}

.sticky {
  /* position: -webkit-sticky; */
  position: fixed;
  top: 0;
  z-index: 999;
}
